<!DOCTYPE html>
<html>

<body>
    <h2>convert a string written in JOSN format, into a javascript</h2>
    <p id="demo"></p>
    <script>
        var myJSON = '{"name": "John", "age":31, "city": "seoul" }';
        var myObj = JSON.parse(myJSON);
        document.getElementById("demo").innerHTML = myObj.name;
    </script>
</body>

<body>

    <p>Modify a JavaScript object using the bracket notation:</p>
    
    <p id="demo"></p>
    
    <script>
    var myObj, x;
    myObj = { name: "John", age: 30, city: "New York" };
    myObj["name"] = "Gilbert";
    document.getElementById("demo").innerHTML = myObj.name;
    </script>
    
    </body>
    <body>

        <h2>Create Object from JSON String</h2>
        
        <p id="demo"></p>
        
        <script>
        var txt = '{"name":"John", "age":30, "city":"New York"}'
        var obj = JSON.parse(txt);
        document.getElementById("demo").innerHTML = obj.name + ", " + obj.age;
        </script>
        
        </body>


</html>