<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>정규식연습</title>
<style>
</style>
</head>
<body>
	<input type="text" id="num" placeholder="전화번호" />
	<button id="test">클릭</button>
	<p>

	<input type="text" id="email" placeholder="메일" />
	<button id="test2">클릭</button>
	<p>

	<input type="text" id="m_name" placeholder="이름" />
	<button id="test3">클릭</button>

	<script type="text/javascript">

    var tel_test = document.getElementById("tel_test");
    var tel = document.getElementById("tel");
    var test2 = document.getElementById("test2");
    var email = document.getElementById("email");
    var test3 = document.getElementById("test3");
    var m_id = document.getElementById("m_id");

    tel_test.addEventListener("click", function() {
      //console.log(num.value);
      var pass = tel.value.match(/01[01789]-\d{3,4}-\d{4}/);
      console.log(pass);
      if (pass) {
        alert("합격");
      } else {
        alert("불합");
      }
    });

    test2.addEventListener("click", function() {
      //var pass2 = post.value.match(/[a-zA-Z0-9]/);
      //console.log(pass2);
		
      var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      var pass = post.value.match(regExp);
      console.log(pass);
    });
    
    test3.addEventListener("click", function() {
		
      var regExp = /^[가-힣]{2,4}$/;
      var pass = m_name.value.match(regExp);
      console.log(pass);
    });
    
    
  </script>
</body>
</html>